# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and debugging
*.log
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing
.tox/
.nox/
coverage.*
*.cover
.hypothesis/
.pytest_cache/

# IDE / Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

#ignore input video and output video
input_video.mp4
final_output.mp4